body{
margin-left: 32px; 
margin-right: 32px; 
margin-bottom: 32px; 
/* モバイル機器のフォントサイズ対策 */
-webkit-text-size-adjust: 100%;
counter-reset: cnt2;
}

p{
/* モバイル機器のフォントサイズ対策 */
max-height: 999999px;
}

ul{
margin: 0px;
margin-left: 2em;
padding: 0px;
}

ol{
margin: 0px;
margin-left: 2em;
padding: 0px;
}

li{
list-style-position: outside;
margin-bottom: 10px;
}

span.prac
{
margin-left: 2em;
}

span.overline
{
text-decoration: overline;
}

input[type="radio"]{
margin-top: 10px;
}

table{
color: #000000;
background: #ffffff;
border: 1px solid #000000;
border-collapse: collapse;
}

th{
padding: 10px;
vertical-align:middle;
border: 1px solid #000000;
}

td{
padding: 10px;
vertical-align:middle;
border: 1px solid #000000;
}

td.center{
padding: 10px;
vertical-align:middle;
text-align:center;
border: 1px solid #000000;
}

td.centw50{
padding: 10px;
width: 50px;
vertical-align:middle;
text-align:center;
border: 1px solid #000000;
}


table.noborder{
margin-top: 5px;
margin-bottom: 5px;
color: #000000;
background: #ffffff;
border: 0px solid #000000;
border-collapse: collapse;
}

td.centerbold{
padding: 10px;
vertical-align:middle;
text-align:center;
border: 2px solid #000000;
}

td.noborder{
padding: 10px;
vertical-align:middle;
border: 0px solid #000000;
}

table.innerbox{
margin-top: 5px;
margin-bottom: 5px;
width: 80%;
margin: 5px;
color: #000000;
background: #ffffff;
border: 1px solid #000000;
}

pre.wrap{
white-space: pre-wrap;
word-break: break-all;
}

div.info{
border-width: 2px; 
border-style: solid;
border-color: black;
padding: 10px;
overflow: auto;
line-height: 120%;
}

/* カウンタ付きラジオボックス */

div.olradio{
counter-reset: cnt1;
}

span.olradio:after{
counter-increment: cnt1;
content: "(" counter(cnt1) ") ";
}

/* ページ内で通し番号 */
span.olradio2:after{
counter-increment: cnt2;
content: "(" counter(cnt2) ") ";
}


/* パンくず */
nav.brcr ol{
margin: 0px;
}

nav.brcr ol li{
display: inline-block;
list-style-type: none;
}

nav.brcr ol li:first-child:before{
content:"";
}

nav.brcr ol li:before{
content: " ≫ ";
}

/* 前、次のページ */

nav.prnx ol{
text-align: right;
}

nav.prnx ol li{
display: inline-block;
list-style-type: none;
}

nav.prnx ol li:first-child:before{
content:"";
}

nav.prnx ol li:before{
content: " / ";
}

/* モバイル機器対策 */
img{
max-width: 100%;
height: auto;
}

/* 廃止予定 */

div.process{
border: 2px solid red;
padding-left:32px;
line-height:18pt;
}

table.info{
border: 2px solid red;
}

td.info{
padding: 10px;
line-height: 130%;
}

pre.prog { 
border: 2px solid red;
padding-top:10px;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
}
